@font-face {
    font-family: 'segoeui';
    src: url('font/segoeui.css') format('truetype');
}

body{
    font-family: Segoe UI;
    color: #2b5f69;
}

p{
    font-size: 14px;
    font-weight: bold;
}

#selected_table{
    font-weight: bold;
    font-size: 16px;
    color: #1e3a41;
    text-decoration: underline;
}

h1{
    font-size: 16px;
}

.nameBox{
    height: 16px;
    resize: none;
    color: #2b5f69;
}

.selector{
    color: #2b5f69;
}

input{
    font-family:  Segoe UI;;
    margin-top: 3em;
    display: block;
    color: #2b5f69;
}