/*The styles for the profile*/
@font-face {
  font-family: 'segoeui';
  src: url('font/segoeui.css') format('truetype');
 }

#wrapper{
    font-family: Segoe UI;
	font-size: 14px;
}

#profile{
    width:920px;
    height:300px;
    margin-top: 50px;
    margin-left: 150px;

}
#info{

    padding:70px;
    font-size: 20px;

}
#djphoto{
    width:250px;
    height:250px;
    float:left;
    margin: 50px 25px 0px 0px;
}
.stat{
    font-weight: 700;
}
.personal{
    font-style: italic;
}
li{
    margin-bottom: 8px;
}
/*biografia*/
#biografia{
    font-size: 20px;
    font-style: italic;
    width:900px;
    height:400px;
    margin-top:50px;
    margin-left: 150px;
}

