html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
}

/* end of css resset  */



@font-face {
  font-family: 'segoeui';
  src: url('font/segoeui.ttf') format('truetype');
 }
  @media only screen and (min-width: 400px) and (max-width: 959px){
        #wrap {
        width: 658px;
        height: auto;
        margin: 0 auto;
      }
      #header {
        width: 658px;
        height: 72px;
      }
      #logo {
        width: 162px;
        height: 50px;
        background-image: url('../img/logo1.png');
        float: left;
      }
      #menu {
        float: right;
      }
      #menu ul {
       vertical-align: middle;
       line-height: 40px;
      }
      #menu ul li {
        display: inline;
        font-family: Segoe UI;
      }
      #menu ul li a:hover {
        background-color: #357682;
        border-radius: 3px;
        color: #fff;
      }
      #menu ul li a {
        text-decoration: none;
        padding: 3px;
        color: #357682;
      }
      #slider {
        width: 658px;
        height: 273px;
        background-image: url('../img/slider22.jpg');
        margin-top: 13px;
      }
      ul.countdown {
        width: 333px;
        height: 68px;
        list-style: none;
        display: block;
        margin-left: 330px;
        margin-top: 168px;
        float: left;
        margin-bottom: 10px;
      }
      ul.countdown li {
        display: inline-block;
        background: rgba(58,94,112,0.5);
        border-radius: 17px;
        padding: 8px;
        margin-right: 8px;
      }
      ul.countdown li span {
        font-size: 50px;
        font-weight: 270;
        line-height: 60px;
        font-family: Segoe UI;
        color: #fff;
      }
      ul.countdown li.seperator {
        font-size: 60px;
        line-height: 56px;
        vertical-align: top;
      }
      ul.countdown li p {
        color: #a7abb1;
        font-size: 13px;
        font-family: Segoe UI;
      }
      #countdowntext {
        width: 323px;
        height: 32px;
        float: right;
      }
      #days {
        width: 35px;
        height: 35px;
        color: #5c9da8;
        font-size: 16px;
        font-family: Segoe UI;
        float: left;
        margin-top: 4px;
        padding-left: 17px;
      }
      #hours {
        width: 35px;
        height: 35px;
        color: #5c9da8;
        font-size: 16px;
        font-family: Segoe UI;
        float: left;
        margin-left: 34px;
        margin-top: 4px;
      }
      #mins {
        width: 35px;
        height: 35px;
        color: #5c9da8;
        font-size: 16px;
        font-family: Segoe UI;
        float: left;
        margin-left: 44px;
        margin-top: 4px;
      }
      #seconds {
        width: 35px;
        height: 35px;
        color: #5c9da8;
        font-size: 16px;
        font-family: Segoe UI;
        float: left;
        margin-left: 44px;
        margin-top: 4px;
      }
      #beer {
        width: 658px;
        height: 280px;
        float: left;
      }
      #beericon {
        width: 82px;
        height: 78px;
        background-image: url('../img/promo1.png');
        margin-top: 13px;
        margin-top: 13px;
        float: left;
      }
      #beertext {
        width: 420px;
        height: 210px;
        float: left;
      }
      #beertexttile{
        margin-left: 14px;
        margin-top: 14px;
        font-size: 23px;
        font-weight: bold;
        font-family: Segoe UI;
        color: #f89b37;
        float: left;
      }
      #beertextpromo {
        float: left;
        font-size: 21px;
        font-weight: bold;
        font-family: Segoe UI;
        color: #f89b37;
        margin-left: 13px;
        margin-top: 13px;
        line-height: 28px;
      }
      #beerpic {
        width: 89px;
        height: 233px;
        float: right;
        background-image: url('../img/beer1.png');
        margin-top: 15px;
        margin-right: 30px;
      }
      #programistka {
        width: 658px;
        height: 259px;
        float: left;
      }
      #programistkaicon{
        width: 96px;
        height: 48px;
        background-image: url('../img/lips1.png');
        margin-top: 15px;
        margin-top: 15px;
        float: left;
      }
      #programistkatexttile {
        margin-left: 13px;
        margin-top: 13px;
        font-size: 21px;
        font-weight: bold;
        font-family: Segoe UI;
        color: #f89b37;
        float: left;
      }
      #programistkatextpromo {
        float: left;
        font-size: 21px;
        font-weight: bold;
        font-family: Segoe UI;
        color: #f89b37;
        margin-left: 13px;
        margin-top: 13px;
        line-height: 28px;
      }
      #programistkapic11 {
        width: 70px;
        height: 233px;
        float: right;
        background-image: url('../img/programistka11.png');
        margin-right: 25px;
        margin-top: -25px;
      }
          #footer {
      width: 100%;
      height: 106px;
      background-color: #357682;
      float: left;
      }
      #footerwrap {
        width: 558px;
        height: 86px;
        margin: 0 auto;
      }
      #footermenu {
        margin-top: 15px;
        width: 350px;
        height: 50px;
      }
      #footermenu ul {
       vertical-align: middle;
       line-height: 24px;
      }
      #footermenu ul li {
        display: inline;
        font-family: Segoe UI;
      }
      #footermenu ul li a {
        text-decoration: none;
        padding: 7px;
        color: #fff;
      }
      #footerwrap p{
        float: left;
        color: #fff;
        font-family: Segoe UI;
        font-size: 13px;
        margin-left: 7px;
      }
      #fb {
        width: 32px;
        height: 32px;
        background-image: url('../img/fb.png');
        float:left;
        margin-left: 682px;
        margin-top: -42px;
      }
 }
 @media only screen and (min-width: 939px) {
    body{
    background-image: url("../img/spiders_web.png");
    background-size: 130px;
    background-repeat: no-repeat;
    }
    #wrap {
    width: 940px;
    height: auto;
    margin: 0 auto;
    }
    #header {
      width: 940px;
      height: 72px;
    }
    #logo {
      width: 232px;
      height: 72px;
      background-image: url('../img/logo.png');
      float: left;
    }
    #menu {
      float: right;
    }
    #menu ul {
     vertical-align: middle;
     line-height: 72px;
    }
    #menu ul li {
      display: inline;
      font-family: Segoe UI;
    }
    #menu ul li a:hover {
      background-color: #357682;
      border-radius: 3px;
      color: #fff;
    }
    #menu ul li a {
      text-decoration: none;
      padding: 7px;
      color: #357682;
    }
    #slider {
      width: 940px;
      height: 390px;
      background-image: url('../img/slider2.jpg');
      margin-top: 15px;
    }
    ul.countdown {
      width: 462px;
      height: 97px;
      list-style: none;
      display: block;
      margin-left: 472px;
      margin-top: 244px;
      float: left;
    }
    ul.countdown li {
      display: inline-block;
      background: rgba(58,94,112,0.5);
      border-radius: 20px;
      padding: 10px;
      margin-right: 10px;
    }
    ul.countdown li span {
      font-size: 80px;
      font-weight: 300;
      line-height: 80px;
      font-family: Segoe UI;
      color: #fff;
    }
    ul.countdown li.seperator {
      font-size: 80px;
      line-height: 70px;
      vertical-align: top;
    }
    ul.countdown li p {
      color: #a7abb1;
      font-size: 14px;
      font-family: Segoe UI;
    }
    #countdowntext {
      width: 462px;
      height: 46px;
      float: right;
    }
    #days {
      width: 50px;
      height: 50px;
      color: #5c9da8;
      font-size: 26px;
      font-family: Segoe UI;
      float: left;
      margin-top: 5px;
      padding-left: 20px;
    }
    #hours {
      width: 50px;
      height: 50px;
      color: #5c9da8;
      font-size: 26px;
      font-family: Segoe UI;
      float: left;
      margin-left: 48px;
      margin-top: 5px;
    }
    #mins {
      width: 50px;
      height: 50px;
      color: #5c9da8;
      font-size: 26px;
      font-family: Segoe UI;
      float: left;
      margin-left: 63px;
      margin-top: 5px;
    }
    #seconds {
      width: 50px;
      height: 50px;
      color: #5c9da8;
      font-size: 26px;
      font-family: Segoe UI;
      float: left;
      margin-left: 69px;
      margin-top: 5px;
    }
    #beer {
      width: 940px;
      height: 400px;
      float: left;
    }
    #beericon {
      width: 118px;
      height: 112px;
      background-image: url('../img/promo.png');
      margin-top: 15px;
      margin-top: 15px;
      float: left;
    }
    #beertext {
      width: 600px;
      height: 300px;
      float: left;
    }
    #beertexttile{
      margin-left: 15px;
      margin-top: 15px;
      font-size: 33px;
      font-weight: bold;
      font-family: Segoe UI;
      color: #f89b37;
      float: left;
    }
    #beertextpromo {
      float: left;
      font-size: 23px;
      font-weight: bold;
      font-family: Segoe UI;
      color: #f89b37;
      margin-left: 15px;
      margin-top: 15px;
      line-height: 40px;
    }
    #beerpic {
      width: 127px;
      height: 333px;
      float: right;
      background-image: url('../img/beer.png');
      margin-top: 15px;
      margin-right: 30px;
    }
    #programistka {
      width: 940px;
      height: 370px;
      float: left;
    }
    #programistkaicon{
      width: 137px;
      height: 69px;
      background-image: url('../img/lips.png');
      margin-top: 15px;
      margin-top: 15px;
      float: left;
    }
    #programistkatexttile {
      margin-left: 15px;
      margin-top: 15px;
      font-size: 33px;
      font-weight: bold;
      font-family: Segoe UI;
      color: #f89b37;
      float: left;
    }
    #programistkatextpromo {
      float: left;
      font-size: 23px;
      font-weight: bold;
      font-family: Segoe UI;
      color: #f89b37;
      margin-left: 15px;
      margin-top: 15px;
      line-height: 40px;
    }
     #programistkapic1 {
      width: 100px;
      height: 333px;
      float: right;
      background-image: url('../img/programistka1.png');
      margin-right: 30px;
      margin-top: -30px;
    }
    #programistkapic11 {
      width: 100px;
      height: 333px;
      float: right;
      background-image: url('../img/programistka1.png');
      margin-right: 30px;
      margin-top: -30px;
    }
    #footer {
    width: 100%;
    height: 106px;
    background-color: #357682;
    float: left;
    }
    #footerwrap {
      width: 940px;
      height: 86px;
      margin: 0 auto;
    }
    #footermenu {
      margin-top: 15px;
      width: 550px;
      height: 50px;
    }
    #footermenu ul {
     vertical-align: middle;
     line-height: 24px;
    }
    #footermenu ul li {
      display: inline;
      font-family: Segoe UI;
    }
    #footermenu ul li a {
      text-decoration: none;
      padding: 7px;
      color: #fff;
    }
    #footerwrap p{
      float: left;
      color: #fff;
      font-family: Segoe UI;
      font-size: 16px;
      margin-left: 7px;
    }
    #fb {
      width: 32px;
      height: 32px;
      background-image: url('../img/fb.png');
      float:left;
      margin-left: 682px;
      margin-top: -42px;
    }
 }

#programistkapic2 {
  width: 143px;
  height: 333px;
  float: right;
  background-image: url('../img/programistka2.png');
  margin-top: -30px;
}
#programistkapic3 {
  width: 107px;
  height: 333px;
  float: right;
  background-image: url('../img/programistka3.png');
  margin-top: -30px;
}
.price{
    font-family: monospace;
    font-style: italic;
}

/* aboutparty */
#partyImg{
    background-image: url(../img/SoftUniPartyLogo.jpg);
    background-repeat: no-repeat;
    background-position: 45%;
    background-size: contain;
    height: 200px;
    }

article{
    font-family: Segoe UI;
    color: #357682;
    display: inline-block;
    margin-top: 30px;
    margin-left: 20%;
    padding-bottom: 20px;
}

.about1{
    font-size: 16px;
    font-weight: bold;
}

.about2{
    font-size: 15px;
    font-weight: bold;
    color: #F89B37;
}
/* aboutparty */

/* reservations */
#res table{
    font-family: Segoe UI;
    border-collapse: separate;
    border-radius: 5px;
    border: 5px solid #785A3B;
    padding: 10px;
    background-color: #efefef;
    margin: 0 auto;
}

td.popup {
    display:inline-block;
    background-image: url('../img/Reservations/masa.png');
    background-size: contain;
    width: 60px;
    height: 60px;
}

#res td.empty{
    width: 50px;
}

#bottomTable{
    margin-left: 25%;
}
#fill {
  height: 15px;
}
#res table p {
    font-family: Segoe UI;
    font-size: 13px;
    color: #EFEFEF;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-top: 6px;
    margin-left: 3px;
    padding: 7px;
}
 #res td.popup:hover{
     background-color: #357682;
     border-radius: 5px;
     cursor: pointer;
 }


#wall{
    text-align: right;
    width: 5px;
    height: 140px;
    background-image: url('../img/Reservations/kolona.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 140px;
}

#dj{
    display: inline-block;
    font-size: 25px;
    color: #EFEFEF;
    text-align: center;
    display: block;
    width: 100px;
    height: 60px;
    background-image: url(../img/Reservations/dj.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 15px;
}
#door{
    display: inline-block;
    font-family: Segoe UI;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    float: right;
    width: 11px;
    height: 80px;
    background-color: #7A5B3D;
    margin-top: 15px;
    margin-right: -15px;
}
#hallLbl{
    font-family: cursive;
    font-size: 20px;
    text-align: center;
    vertical-align: top;
    padding-top: 10px;
}

#intro{
    text-align: center;
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: bold;
    color: #357682;
    padding-bottom: 20px;
}

#hall{
    width: 600px;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
}
/* reservation */

/* djs */
.dj {
  width: 940px;
  height: auto;
  float: left;
  margin-top: 25px;
  margin-bottom: 40px;
}
#pic1 {
  width: 180px;
  height: 200px;
  background-image: url('../img/DJs/Nakov.png');
  float: left;
  margin-bottom: 20px;
}
#pic2 {
  width: 170px;
  height: 210px;
  background-image: url('../img/DJs/deyan.jpg');
  float: left;
  margin-bottom: 20px;
}
#pic3 {
  width: 180px;
  height: 230px;
  background-image: url('../img/DJs/vlado.jpg');
  float: left;
  margin-bottom: 20px;
}
.info {
  width: 730px;
  height: auto;
  float: right;
}
.info p span{
  font-size: 20px;
  color: #F89B37;
  font-family: Segoe UI;
  font-weight: bold;
}
.info p {
  color: #357682;
  font-size: 20px;
  font-family: Segoe UI;
  line-height: 30px;
}
.track {
  width: 133px;
  height: 25px;
  color: #F89B37;
  font-size: 20px;
  font-family: Segoe UI;
  font-weight: bold;
}
.biograpghy {
  width: 940px;
  float: left;
  margin-top: 30px;
  color: #357682;
  font-family: Segoe UI;
  font-size: 18px;
  line-height: normal;
}
/* djs */
/* confirmation PopUp */

#confPopUp{
    font-family: Segoe UI;
    color: #2b5f69;
    background: none;
}

#confPopUp p{
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

#selected_table{
    font-weight: bold;
    color: #1e3a41;
    text-decoration: underline;
    margin-bottom: 20px;
}

#confPopUp h1{
    font-size: 16px;
    margin-top: 10px;
}

.nameBox{
    height: 16px;
    resize: none;
    color: #2b5f69;
}

.popUpSelector{
    color: #2b5f69;
    margin-top: 20px;
}

#popUpButton{
    font-family:  Segoe UI;;
    display: block;
    color: #2b5f69;
    margin-top: 20px;
}
/* end confirmation PopUp */
