html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
}

/* end of css resset  */

body{
    background-image: url("../img/spiders_web.png");
    background-size: 130px;
    background-repeat: no-repeat;
}

@font-face {
  font-family: 'segoeui';
  src: url('font/segoeui.ttf') format('truetype');
 }
#wrap {
  width: 940px;
  height: auto;
  margin: 0 auto;
}
#header {
  width: 940px;
  height: 72px;
}
#logo {
  width: 232px;
  height: 72px;
  background-image: url('../img/logo.png');
  float: left;
}
#menu {
  float: right;
}
#menu ul {
 vertical-align: middle;
 line-height: 72px;
}
#menu ul li {
  display: inline;
  font-family: Segoe UI;
}
#menu ul li a:hover {
  background-color: #357682;
  border-radius: 3px;
  color: #fff;
}
#menu ul li a {
  text-decoration: none;
  padding: 7px;
  color: #357682;
}
#slider {
  width: 940px;
  height: 390px;
  background-image: url('../img/slider2.jpg');
  margin-top: 15px;
}
ul.countdown {
  width: 462px;
  height: 97px;
  list-style: none;
  display: block;
  margin-left: 472px;
  margin-top: 244px;
  float: left;
}
ul.countdown li {
  display: inline-block;
  background: rgba(58,94,112,0.5);
  border-radius: 20px;
  padding: 10px;
  margin-right: 10px;
}
ul.countdown li span {
  font-size: 80px;
  font-weight: 300;
  line-height: 80px;
  font-family: Segoe UI;
  color: #fff;
}
ul.countdown li.seperator {
  font-size: 80px;
  line-height: 70px;
  vertical-align: top;
}
ul.countdown li p {
  color: #a7abb1;
  font-size: 14px;
  font-family: Segoe UI;
}
#countdowntext {
  width: 462px;
  height: 46px;
  float: right;
}
#days {
  width: 50px;
  height: 50px;
  color: #5c9da8;
  font-size: 26px;
  font-family: Segoe UI;
  float: left;
  margin-top: 5px;
  padding-left: 20px;
}
#hours {
  width: 50px;
  height: 50px;
  color: #5c9da8;
  font-size: 26px;
  font-family: Segoe UI;
  float: left;
  margin-left: 48px;
  margin-top: 5px;
}
#mins {
  width: 50px;
  height: 50px;
  color: #5c9da8;
  font-size: 26px;
  font-family: Segoe UI;
  float: left;
  margin-left: 63px;
  margin-top: 5px;
}
#seconds {
  width: 50px;
  height: 50px;
  color: #5c9da8;
  font-size: 26px;
  font-family: Segoe UI;
  float: left;
  margin-left: 69px;
  margin-top: 5px;
}
#beer {
  width: 940px;
  height: 400px;
  float: left;
}
#beericon {
  width: 118px;
  height: 112px;
  background-image: url('../img/promo.png');
  margin-top: 15px;
  margin-top: 15px;
  float: left;
}
#beertext {
  width: 600px;
  height: 300px;
  float: left;
}
#beertexttile{
  margin-left: 15px;
  margin-top: 15px;
  font-size: 33px;
  font-weight: bold;
  font-family: Segoe UI;
  color: #f89b37;
  float: left;
}
#beertextpromo {
  float: left;
  font-size: 23px;
  font-weight: bold;
  font-family: Segoe UI;
  color: #f89b37;
  margin-left: 15px;
  margin-top: 15px;
  line-height: 40px;
}
#beerpic {
  width: 127px;
  height: 333px;
  float: right;
  background-image: url('../img/beer.png');
  margin-top: 15px;
  margin-right: 30px;
}
#programistka {
  width: 940px;
  height: 370px;
  float: left;
}
#programistkaicon{
  width: 137px;
  height: 69px;
  background-image: url('../img/lips.png');
  margin-top: 15px;
  margin-top: 15px;
  float: left;
}
#programistkatexttile {
  margin-left: 15px;
  margin-top: 15px;
  font-size: 33px;
  font-weight: bold;
  font-family: Segoe UI;
  color: #f89b37;
  float: left;
}
#programistkatextpromo {
  float: left;
  font-size: 23px;
  font-weight: bold;
  font-family: Segoe UI;
  color: #f89b37;
  margin-left: 15px;
  margin-top: 15px;
  line-height: 40px;
}
#programistkapic {
  width: 100px;
  height: 333px;
  float: right;
  background-image: url('../img/programistka1.png');
  margin-right: 30px;
  margin-top: -30px;
}
.price{
    font-family: monospace;
    font-style: italic;
}